$width: 960px;

$clr-1: #222;  /* чёрный */

$clr-2: #dd1f26; /* красный */
$clr-13: #b31b21;

$clr-4: #eee; /* фон серый */

$clr-3: #666;
$clr-5: #B6B6B6;
$clr-6: #888;
$clr-7: #999;
$clr-8: #777;
$clr-9: #555;
$clr-10: #bbb;
$clr-11: #aaa;
$clr-12: #ccc;

$clr-14: gold;
$clr-15: green;
$clr-black: #000;
$clr-white: #fff;