/*
*	Страница одного товара
*	Варианты товара
*/
.usam_variation_forms{
	margin-bottom: 10px;
	color: $clr-1;
	font-weight: 600;
}

.usam_variation_forms fieldset{
	padding: 5px;
	border-color: #ddd;
	border-style: dashed;
}

.usam_variation_forms select{
	border-color: #ddd;
	padding: 5px;
}

/*
*	Товар дня ( вверху страницы)
*/
.usam_product_display{
	text-align: center;
}
.product_day{
	background-color: #fff;
	border-color: #ccc;
}
.product_day h3{
	color: $clr-2;
}
.product_day .text .price{
	float: none;
}
.product_day .text .p_price{
	color: $clr-2;
}
.product_day .text .buy{
	display: block;
	float: none;
	margin: 0;
}
.product_day .text .buy:hover{
	background-color: $clr-2;
}

/*
*	Страница одного товара
*	Фото галерея
*/
.single-product__photos{
	margin-right: 20px;
}
.main_single_img{
	min-height: 500px;
	max-height: 500px;
}
.main_single_img img{
	width: 100%;
}
.gallery_product img{
	height: 100px;
}
.gallery_product img:hover{
	cursor: pointer;
}
