/*
*	Страница одного товара
*	Варианты товара
*/
.usam_variation_forms{
	margin-bottom: 10px;
	color: $clr-1;
	font-weight: 600;
}

.usam_variation_forms fieldset{
	padding: 5px;
	border-color: #ddd;
	border-style: dashed;
}

.usam_variation_forms select{
	border-color: #ddd;
	padding: 5px;
}
